<h1>Progress Bar</h1>
<hr>
<p><ngb-progressbar [value]="50" type="success" [showValue]="true" [striped]="true" [animated]="true"></ngb-progressbar></p>
<p><ngb-progressbar [value]="20" type="warning"[showValue]="true"></ngb-progressbar></p>
<p><ngb-progressbar [value]="73" type="danger"[showValue]="true" [striped]="true" [animated]="true"></ngb-progressbar></p>
<p><ngb-progressbar [value]="100" type="dark" [showValue]="true" [max]="500" [striped]="true"></ngb-progressbar></p>
<p><ngb-progressbar [value]="100" type="primary" [showValue]="false">Terminado!!</ngb-progressbar></p>
<hr>
<p>Por defecto</p>
<hr>
<p><ngb-progressbar [value]="80"></ngb-progressbar></p>
<p><ngb-progressbar [value]="20" type="danger"></ngb-progressbar></p>
<p><ngb-progressbar [value]="78"></ngb-progressbar></p>